<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Monofett|Monoton' rel='stylesheet' type='text/css'>
  <link rel = "stylesheet" type = "text/css" href = "../css/style.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <script src = "js/streetView.js"></script>
  <title>&#8965;&#8966;&#8967;&#8997;</title>
</head>
<body>
<a id = "home" href = "/">&#8962;</a>
<nav><a id = "left" href = "/places/<%= place.id-1 %>">&#9665; </a> <a id = "right" href ="/places/<%= place.id+1%>"> &#9655; </a></nav> 
<p>
  <img id="skyview" src = "https://maps.googleapis.com/maps/api/streetview?size=640x640&location=<%= place.latlng.x%>,<%= place.latlng.y%>&fov=90&heading=180&pitch=90"></img>
  <p id = "description"><%= place.location %><br>
  <%= place.latlng.x%> Lattitude <br>
  <%= place.latlng.y%> Longitude <br>
  <%= place.description %> <br>
  </p>
</p>
<p>
<img id="skyview" src = "https://maps.googleapis.com/maps/api/streetview?size=640x640&location=<%= place.latlng.x%>,<%= place.latlng.y%>&fov=90&heading=180&pitch=45"></img>
<img id="skyview" src = "https://maps.googleapis.com/maps/api/streetview?size=640x640&location=<%= place.latlng.x%>,<%= place.latlng.y%>&fov=90&heading=180&pitch=0"></img>
<img id="skyview" src = "https://maps.googleapis.com/maps/api/streetview?size=640x640&location=<%= place.latlng.x%>,<%= place.latlng.y%>&fov=90&heading=180&pitch=-90"></img>
<img id="skyview" src = "https://maps.googleapis.com/maps/api/streetview?size=640x640&location=<%= place.latlng.x%>,<%= place.latlng.y%>&fov=90&heading=180&pitch=-135"></img>
<img id="skyview" src = "https://maps.googleapis.com/maps/api/streetview?size=640x640&location=<%= place.latlng.x%>,<%= place.latlng.y%>&fov=90&heading=180&pitch=-180"></img>
</p>

</body>
</html>